@import "tailwindcss";

@layer base {
  :root {
    --font-geist-sans: var(--font-geist-sans);
    --font-geist-mono: var(--font-geist-mono);
    --font-playfair: var(--font-playfair);
    --font-dancing: var(--font-dancing);
    --font-montserrat: var(--font-montserrat);
  }
}
